<footer class="navbar-dark bg-primary text-white sticky-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-2 px-md-5">
          <h4 class="text-white text-center pt-3">About</h4>
          <ul class="list-unstyled text-white">
            <li class="text-white"><a class="text-white" href="https://www.iiitb.ac.in/">Sitemap</a></li>
            <li class="text-white"><a class="text-white" href="https://www.iiitb.ac.in/">Contact Us</a></li>
            <li class="text-white"><a class="text-white" href="https://www.iiitb.ac.in/">Team</a></li>
          </ul>

        </div>
        <div class="col-md-8 px-md-5">
          <h4 class="text-white text-center pt-3">External Links</h4>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <a href="https://www.iiitb.ac.in/"><img id="img1" src="/images/IIITB_logo.png" alt="Logo" width="100"
                  height="100"></a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <a href="http://wsl.iiitb.ac.in/wordpress/"><img id="img1" src="/images/wsl.jpg" alt="Logo" width="120"
                  height="100"></a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <a href="http://cognitive.iiitb.ac.in/"><img id="img1" src="/images/cognitive-logo.jpg" alt="Logo"
                  width="240" height="100"></a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <h4 class="text-white text-center pt-3">Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/IIITBofficial" class="icoFacebook" title="Facebook"><i
                  class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.linkedin.com/school/iiit-bangalore/" class="icoLinkedin" title="Linkedin"><i
                  class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-2">
    <center>
      <p class="text-white pb-2">&copy; <a class="item text-white" href="//wsl.iiitb.ac.in">Web
          Science Lab @ IIIT Bangalore</a> </p>
    </center>
    </div>
  </footer>