<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-1" id="NAVHEADER">
    <a class="navbar-brand" href="/users/dashboard" id="navbrand">Precision Learning Portal</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto" id="navbar1">
        <li class="nav-item active">
          <a class="nav-link" href="/users/dashboard">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
      </ul>



      <div class="navbar_right">
        <div class="notifications">
         <div class="icon_wrap" > <i class="far fa-bell"></i></div>         
         <ul class="notification_dd" id="Notification_ALL">
             <!-- <ul class="notification_ul" > -->
                 <!-- <li> Notification 1 </li>  -->
             <!-- </ul> -->
         </div>
         
       </div>
     </div>
      


      <ul class="navbar-nav" id="navbar2">
        <li class="nav-item">
          <a class="nav-link">Welcome <%= username %></a>
        </li>
        <li class="nav-item"><a href="/users/logout" class="btn btn-outline-secondary btn-sm"><i
              class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a></li>
      </ul>
    </div>
  </nav>
