<!-- Sidebar -->
<div class="bg-dark" id="sidebar-wrapper">

  <div class="sidebar-heading">User Dashboard</div>
  <div class="list-group list-group-flush">
    <a
      href="/users/dashboard"
      class="list-group-item list-group-item-action bg-dark text-white"
      >Home</a
    >
    <!-- <a href="#" class="list-group-item list-group-item-action bg-dark">About</a> -->
    <a
      href="#"
      id="map-drop"
      class="list-group-item list-group-item-action bg-dark text-white"
      >Maps <i style="float: right" class="fas fa-caret-down"></i
    ></a>
    <!-- <a href="/learningMaps/newMap" style="display: none;" class="list-group-item list-group-item-action bg-dark map-drop-item">&nbsp;&nbsp;New Map</a> -->
    <a
      href="/learningMaps/viewAllMaps"
      style="display: none"
      class="list-group-item list-group-item-action map-drop-item bg-dark text-white"
      >&nbsp;&nbsp;All Maps</a
    >
    <a
      href="/learningMaps/viewMyMaps"
      style="display: none"
      class="list-group-item list-group-item-action map-drop-item bg-dark text-white"
      >&nbsp;&nbsp;My Maps</a
    >
    <a
      href="/learningMaps/createMap"
      style="display: none"
      class="list-group-item list-group-item-action map-drop-item bg-dark text-white"
      >&nbsp;&nbsp;Generate Map</a
    >
    <a
      href="#"
      id="resource-drop"
      class="list-group-item list-group-item-action bg-dark text-white"
      >Resources <i style="float: right" class="fas fa-caret-down"></i
    ></a>
    <a
      href="/resources/viewResource"
      style="display: none"
      class="list-group-item list-group-item-action resource-drop-item bg-dark text-white"
      >&nbsp;&nbsp;View Resources</a
    >
    <a
      href="/resources/viewResourceGroup"
      style="display: none"
      class="list-group-item list-group-item-action resource-drop-item bg-dark text-white"
      >&nbsp;&nbsp;Resource Collections</a
    >
    <a href="/resources/createCollection" style="display: none;"
        class="list-group-item list-group-item-action resource-drop-item bg-dark text-white">&nbsp;&nbsp;Create Collection</a>
    <a href="/learningMaps/trailerGeneration" class="list-group-item list-group-item-action bg-dark text-white">Trailer Generation</a>    

  </div>
</div>
<!-- /#sidebar-wrapper -->
